{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>80s Movie Suggestions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
        <!-- <h1>Your 80's Movie Suggestion</h1> -->
        <div class="logo-container">
            <img src="static\totally-80s-movies.png" alt="Totally 80's Movies">
        </div>
        <div class="filmstrip-container">
            <div class="filmstrip">
                <div id="movieData"></div>
            </div>
        </div>
        <div class="movie-button-container">
            <button type="button" class="movie-button btn-lg" id="getRandomMovieButton">Get a movie!</button>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>